@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <label asp-for="FizzBuzz.Number" class="control-label" ></label><br />
        <input asp-for="FizzBuzz.Number" class="form-control"/><br />
        <span asp-validation-for="FizzBuzz.Number" class="text-danger"></span> <br /><br />
        <input class="btn btn-primary" type="submit" value="Zatwierdź">
    </form>
    <br/><label>@Model.Result</label>
</div>
